body{
    a {
        cursor: pointer;
    }

    &.authenticated{
        #login{
            display: none;
        }
    }

    &.anonymous{
        #logout{
            display: none;
        }
    }
}
