body{
    a {
        cursor: pointer;
    }

    .mdl-card {
      width: 310px;
      margin: 15px auto;
    }

    &.authenticated{
        .mdl-layout__drawer nav {
            .login, .register{
                display: none;
            }
        }
        #register.mdl-card, #login.mdl-card {
            display: none;
        }
    }

    &.anonymous{
        .mdl-layout__drawer nav .logout{
            display: none;
        }

        #reg-password.invalid {
            margin-bottom: 38px;
        }
    }
}
