body{
  a {
    cursor: pointer;
  }

  .mdl-card {
    width: 310px;
    margin: 15px auto;
  }

  .post-card {
    margin: 10px auto;
    padding-bottom: 20px;
    width: 99%;

    a{
      text-decoration: none;
    }

    .mdl-card__title {
      padding: 10px;
      h2 {
        font-size: 17px;
        line-height: 19px;
        margin: 0;
      }
    }

    .mdl-card__supporting-text {
      padding: 0 10px;
    }
  }

  &.authenticated{
    .mdl-layout__drawer {
      nav{
        .login, .register{
            display: none;
        }
      }
      .subtitle {
        line-height: 20px;
        margin-top: 20px;

        &:after{
          right: 0;
          border-radius: 10px;
          padding: 0 5px;
          width: auto;
        }
      }

    }
    #register.mdl-card, #login.mdl-card {
      display: none;
    }
  }

  &.anonymous{
    .mdl-layout__drawer nav .logout{
      display: none;
    }

    #reg-password.invalid {
      margin-bottom: 38px;
    }
    .mdl-navigation.sites {
      display: none;
    }
    .hide-anonymous{
      display: none;
    }
  }

  @media screen and (min-width: 1025px){
    header .mdl-layout-title{
      display: none;
    }
  }
}
